.rent-button {
  background-color: #22CC88 !important;
  color: white !important;
  height: 32px !important;
  margin-right: 10px !important;
}

.update-button {
  background-color: #eeb968 !important;
  color: white !important;
  height: 32px !important;
}