.book-card {
  border-radius: 5%;
  border: 1px solid #e4e4e4;
  text-align: center;
  width: 210px;
  height: 300px;
  margin: 20px 30px 20px 0px;
  cursor: pointer;

  .book-thumbnail {
    width: 150px;
    height: 200px;
  }
  
  .borrow-enable {
    color: cornflowerblue;
  }
  
  .borrow-unable {
    color: red;
  }
}
