.book-search-bar {
  margin: 50px 35px 0px 15px;
}

.book-category {
  margin-top: 60px;
  margin-left: 15px;
  font-size: 28px;
}

.book-list-section {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
}