.main-nav {
  display: flex;
  height: 65px;
  border-bottom: solid rgb(231, 231, 231);
  border-bottom-width: 0.5px;

  .main-nav-logo {
    width: 21%;
    text-align: center;
    padding: 5px 0px;

    .logo {
      width: 55px;
    }
  }
}
  